{% extends 'teacher/base2.html' %}
{% block body %}

    <div class="container">
        <h2>Please Select Subject</h2>

        <br>
        <br>

        <br>



                                        <a href="{{ user.teacher.first_name }}/Physics">Physics</a>
                                            <br>
                                            <a href="{{ user.teacher.first_name }}/Chemistry">Chemistry</a>
                                            <br>
                                            <a href="{{ user.teacher.first_name }}/Maths">Maths</a>
        <br>




    </div>

{% endblock %}